.galery {
  background: black;
  .brand {
      display: flex;
      align-items:center;
      .logo {
          flex-grow:2;
          margin-top: -35px;
          z-index: 998;
          margin-bottom: 20px;
          pointer-events: none;
          @media (min-width: $screen-xs) {
              margin-top: auto;
              z-index: 0;
              margin-bottom: auto;
          }
      }
      #logo_svg__Layer_1 {
          display: block;
          margin: auto;
          max-width: 220px;
          @media (min-width: $screen-xs) {
              max-width: 220px;
          }
          @media (min-width: $screen-sm) {
              max-width: 180px;
          }
          @media (min-width: $screen-md) {
              max-width: 420px;
          }
      }
  }
  .item {
    img {
      filter: grayscale(100%);
      &:hover {
        cursor: pointer;
        filter: grayscale(0);
      }
    }
  }

}