.modal {
   
    &__backdrop {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.9);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        backdrop-filter: blur(13px);
    }
    &__wrapper {
        z-index: 999;
        .modal__content {
             h1 {
                color: $white;
            }
            
            width: auto;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            img {
                max-width: 95vw;
            }
        }
    }
}

