

// Breakpoints
// Extra small screen / phone
$screen-xs:                  480px;
// Small screen / tablet
$screen-sm:                  768px;
// Medium screen / desktop
$screen-md:                  992px;
// Large screen / wide desktop
$screen-lg:                  1280px;

// Breakpoints map
$breakpoints: (
    small : $screen-xs,
    medium: $screen-md,
    large : $screen-lg
);

$wrapper-width: 	$screen-lg;

// Collors

$white:                     #fff;
$gray:                      #d7d7d7;
$dark-gray:                 #9a9a9a;
$black:                     #000000;
$brand-green:               #b0d058;
$brand-pink:                #d186ac;
$font-family-pickled-brain: 'Lexend Deca', Arial, sans-serif;

@mixin box-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: $default) {
  box-shadow: $x-axis $y-axis $blur $color;
}